html
  head
    title=title
  body
    button#btn-measure-window(type=button) Measure Window
    button#btn-measure-element(type=button) Measure Element
    #container(style="width:300px; height:300px")
    script(src=bundle)
