.mark
	.row.top
		.cell.left
			span.text
				= textTopLeft
		.cell.right
			span.text
				= textTopRight
	.row.bottom
		.cell.left
			span.text
				= textBottomLeft
		.cell.right
			span.text
				= textBottomRight

